<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applied Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/applyingFor.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    </style>
</head>
<body>

    <div id="navbar-container"></div>
    <script>
        // Cargar la navbar y luego agregar el controlador de eventos al enlace de perfil
        fetch('./homenavbarLayout.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar-container').innerHTML = data;
    
            // Después de que la navbar se haya cargado e inyectado en el DOM, agrega el controlador de eventos
            const profileLink = document.getElementById('profileLink');
            if (profileLink) {
                profileLink.addEventListener('click', (event) => {
                    event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
    
                    // Comprobar si hay un usuario en sessionStorage
                    const user = sessionStorage.getItem('user');
    
                    // Si hay un usuario, navega a userProfile.html, si no, a userLogin.html
                    if (user) {
                        window.location.href = './profile';
                    } else {
                        window.location.href = './login';
                    }
                });
            }
        })
        .catch(error => console.error('Error al cargar la navbar:', error));
        </script>

<div class="container mt-5">
    <h1>My Applications</h1>
    <br>
    <div id="vacancies-container">
        <!-- Aquí se inyectarán las tarjetas de vacantes -->
        <!-- Tarjeta de vacante para Marketing Director -->
        <div class="vacancy-card">
            <div class="vacancy-details">
                <h2>Marketing Director - Amazon</h2>
                <p>Description: Join Amazon as a Marketing Director.</p>
                <p>Requirements: Bachelor's Degree, Understanding of cloud services</p>
                <p>Skills: Leadership, Communication</p>
                <p>Salary Range: $53049 - $79820</p>
                <p>Job Type: Part-Time</p>
                <p>Location: New York</p>
            </div>
        </div>

        <!-- Tarjeta de vacante para Data Scientist -->
        <div class="vacancy-card">
            <div class="vacancy-details">
                <h2>Data Scientist - Toyota</h2>
                <p>Description: Join Toyota as a HR Specialist.</p>
                <p>Requirements: Experience with CRM, Fluency in English</p>
                <p>Skills: Technical Writing, Communication</p>
                <p>Salary Range: $60656 - $84270</p>
                <p>Job Type: Part-Time</p>
                <p>Location: California</p>
                <p>People Interested: None</p>
            </div>
        </div>
    </div>
</div>
    

</body>

<footer>
    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./footerLayout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>

</html>
