<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarrerPulse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/homeStyle.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    </style>

</head>

<body>
    <!-- Contenedor donde se cargará navbar -->
    <div id="navbar-container"></div>
    <script>
        // Cargar tu navbar al inicio del documento
        fetch('./layouts/navbar/homenavbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar la navbar:', error));
    </script>

    <div class="main-content">
        <p class="company-description">
            CareerPulse is your strategic partner in the search for new professional opportunities.
            We connect talent with innovation to propel your career to the next level.
        </p>
        <br>
        <a class="find-job-btn" href="./jobListing.html">Find New Job</a>
    </div>

    <!-- Incluye jQuery y Bootstrap si tu navbar los utiliza -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

<footer>
    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./layouts/footer/layout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>

</html>
