<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details</title>
    <!-- Bootstrap y otros enlaces aquí -->
</head>
<body>
    <!-- Contenedor donde se cargará navbar -->
    <div id="navbar-container"></div>
    <script>
        // Cargar la navbar y luego agregar el controlador de eventos al enlace de perfil
        fetch('./homenavbarLayout.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar-container').innerHTML = data;
    
            // Después de que la navbar se haya cargado e inyectado en el DOM, agrega el controlador de eventos
            const profileLink = document.getElementById('profileLink');
            if (profileLink) {
                profileLink.addEventListener('click', (event) => {
                    event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
    
                    // Comprobar si hay un usuario en sessionStorage
                    const user = sessionStorage.getItem('user');
    
                    // Si hay un usuario, navega a userProfile.html, si no, a userLogin.html
                    if (user) {
                        window.location.href = './profile';
                    } else {
                        window.location.href = './login';
                    }
                });
            }
        })
        .catch(error => console.error('Error al cargar la navbar:', error));
        </script>

    <div class="container" id="job-detail-container">
        <!-- Los detalles del trabajo se cargarán aquí -->
    </div>
    
    <!-- Scripts necesarios aquí -->
    <script src="../controllers/jobDetailDisplay.js"></script>
</body>

<footer>
    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./footerLayout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>

</html>
