<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding Job</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
    </style>
    
</head>
<body>

    <!-- Contenedor donde se cargará navbar -->
    <div id="navbar-container"></div>
    <script>
        // Cargar tu navbar al inicio del documento
        fetch('./layouts/navbar/jobsnavbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar la navbar:', error));
    </script>

    <div class="container mt-5" id="jobs-container">
        <!-- Las tarjetas de trabajo se inyectarán aquí mediante JavaScript (jsondisplays.js) -->
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/app/controllers/jsondisplay.js"></script>



</body>
</html>
