<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Vacancies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/vacantsStyle.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    </style>
</head>
<body>
    <div id="cargando" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.789); color: white; display: flex; justify-content: center; align-items: center; z-index: 20;">
        <h1>Cargando ...</h1>
    </div>

    <script>
        window.onload = function(){
            setTimeout(() => {
                document.getElementById('cargando').style.display = 'none';
            }, 1000);
        }
    </script>

<!-- Contenedor donde se cargará navbar -->
<div id="navbar-container"></div>
<script>
    // Cargar tu navbar al inicio del documento
    fetch('./layoutPublisher.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar-container').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar la navbar:', error));
</script>

<div class="container mt-5">
    <!-- Container where job cards will be appended -->
    <div class="container mt-5" id="vacancies-container">
        <h1 style="text-align: center;">My Vacancies</h1>
        <br>
        <!-- Job cards will go here -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="/controllers/vacanciesDisplay.js"></script>

</body>


<footer>
    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./footerLayout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>
</html>
