<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarrerPulse Publisher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    </style>

    <link rel="stylesheet" href="./styles/newVacant.css">

</head>

<body>
    <div id="cargando" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.789); color: white; display: flex; justify-content: center; align-items: center; z-index: 20;">
        <h1>Cargando ...</h1>
    </div>

    <script>
        window.onload = function(){
            setTimeout(() => {
                document.getElementById('cargando').style.display = 'none';
            }, 1000);
        }
    </script>
    
    <!-- Contenedor donde se cargará navbar -->
    <div id="navbar-container"></div>
    <script>
        // Cargar tu navbar al inicio del documento
        fetch('./layoutPublisher.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar la navbar:', error));
    </script>
    <br>
    <br>
    <h2>Creating New Opportunity</h2>
    <div class="container mt-5">
        <form id="newJobForm">
            <div class="row">
                <!-- Columna para detalles del trabajo -->
                <div class="col-md-6">
                    <h2 class="title">Job Details</h2>
                    <div class="form-group">
                        <label for="title">Job Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Job Description</label>
                        <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="requirements">Job Requirements</label>
                        <textarea class="form-control" id="requirements" name="requirements" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="skills">Skills Needed</label>
                        <textarea class="form-control" id="skills" name="skills" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="minSalary">Minimum Salary</label>
                        <input type="number" class="form-control" id="minSalary" name="minSalary" required>
                    </div>
                    <div class="form-group">
                        <label for="maxSalary">Maximum Salary</label>
                        <input type="number" class="form-control" id="maxSalary" name="maxSalary" required>
                    </div>
                    <div class="form-group">
                        <label for="jobType">Job Type</label>
                        <select class="form-control" id="jobType" name="jobType" required>
                            <option value="">None</option>
                            <option value="Full-Time">Full-Time</option>
                            <option value="Part-Time"">Part-Time</option>
                            <option value="Internship">Internship</option>
                            <option value="Remote">Remote</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" name="location" required>
                    </div>
                </div>

                <!-- Columna para detalles de la compañía -->
                <div class="col-md-6">
                    <h2>Company Details</h2>
                    <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <select class="form-control" id="companyName" name="companyName" required>
                            <option value="">None</option>
                            <option value="oracle">Oracle</option>
                            <option value="amazon"">Amazon</option>
                            <option value="gymshark">GymShark</option>
                            <option value="costco">Costco</option>
                            <option value="nike"">Nike</option>
                            <option value="toyota">Toyota</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="companyDescription">Company Description</label>
                        <textarea class="form-control" id="companyDescription" name="companyDescription" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="companyLogo">Company Logo URL</label>
                        <select class="form-control" id="companyLogo" name="companyLogo">
                            <option value="">None</option>
                            <option value="./assets/BusinessLogos/oracle.png">Oracle</option>
                            <option value="./assets/BusinessLogos/amazon.png">Amazon</option>
                            <option value="./assets/BusinessLogos/gymshark.png">GymShark</option>
                            <option value="./assets/BusinessLogos/costco.png">Costco</option>
                            <option value="./assets/BusinessLogos/nike.png">Nike</option>
                            <option value="./assets/BusinessLogos/toyota.png">Toyota</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Upload Job</button>
            </div>
        </form>
    </div>
    
    <!-- Incluye jQuery y Bootstrap si tu navbar los utiliza -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="/controllers/jobsHandler.js"></script>
</body>

<footer>
    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./footerLayout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>

</html>
