<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Vacancies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/views/styles/vacantsStyle.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    </style>
</head>
<body>

<!-- Contenedor donde se cargará navbar -->
<div id="navbar-container"></div>
<script>
    // Cargar tu navbar al inicio del documento
    fetch('/app/views/layouts/publisherNavbar/layout.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar-container').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar la navbar:', error));
</script>

<div class="container mt-5">
    <h1>My Vacancies</h1>
    <br>
    <div id="vacancies-container">
        <!-- Aquí se inyectarán las tarjetas de vacantes -->
        <!-- Tarjeta de vacante para Marketing Director -->
        <div class="vacancy-card">
            <div class="vacancy-details">
                <h2>Marketing Director - Amazon</h2>
                <p>Description: Join Amazon as a Marketing Director.</p>
                <p>Requirements: Bachelor's Degree, Understanding of cloud services</p>
                <p>Skills: Leadership, Communication</p>
                <p>Salary Range: $53049 - $79820</p>
                <p>Job Type: Part-Time</p>
                <p>Location: New York</p>
                <p>People Interested: <a href="/app/views/showApplier.html">123456673434232</a></p>
            </div>
            <div class="vacancy-actions">
                <button class="btn-delete">Delete</button>
                <button class="btn-delete" style="background-color: #2C5FDD;">Reject</button>
            </div>
        </div>

        <!-- Tarjeta de vacante para Data Scientist -->
        <div class="vacancy-card">
            <div class="vacancy-details">
                <h2>Data Scientist - Toyota</h2>
                <p>Description: Join Toyota as a HR Specialist.</p>
                <p>Requirements: Experience with CRM, Fluency in English</p>
                <p>Skills: Technical Writing, Communication</p>
                <p>Salary Range: $60656 - $84270</p>
                <p>Job Type: Part-Time</p>
                <p>Location: California</p>
                <p>People Interested: None</p>
            </div>
            <div class="vacancy-actions">
                <button class="btn-delete">Delete</button>
                <button class="btn-delete" style="background-color: #2C5FDD;">Reject</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
<footer>
    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./layouts/footer/layout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>
</html>
