<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publisher Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/views/styles/publisherProfile.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    </style>
    
</head>
<body>

<!-- Navbar -->
<div id="navbar-container"></div>
<script>
    fetch('/app/views/layouts/publisherNavbar/layout.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar-container').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar la navbar:', error));
</script>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">User Interested</h2>
            <br>
            <p><strong>Email:</strong> johndoe82@example.com</p>
            <p><strong>Name:</strong> John Doe</p>
            <p><strong>Contact Number:</strong> 5550123456</p>
            <p><strong>Location:</strong> Monterrey, México</p>
            <p><strong>Resume:</strong> <a href="/app/views/assets/appImages/cvUsersProfile/cv1.pdf" target="_blank">View CV</a></p>
            <p><strong>Skills:</strong> Leadership, Project Management, Public Speaking</p>
            <p><strong>Education:</strong> Instituto Tecnológico, Ingeniero en Sistemas Computacionales, 2010-2014</p>
            <p><strong>Work Experience:</strong> Tech Company, Desarrollador Senior, 2015-Presente</p>
        </div>
    </div>
</div>

<!-- Footer -->
<div id="footer-container"></div>
<script>
    fetch('./layouts/footer/layout.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el footer:', error));
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
