<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Making a good Cv</title>
    <!-- Bootstrap CSS para un estilo rápido y responsivo -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/tutorialStyle.css">
    <link rel="stylesheet" href="./styles/loadingStyle.css">
    
</head>
<body>

    <div id="cargando">
        <h1 id="mensaje">Cargando ...</h1>
    </div>

    <script>
        window.onload = function(){
            setTimeout(() => {
                document.getElementById('cargando').style.display = 'none';
            }, 1000);
        }
    </script>

    <!-- Contenedor donde se cargará navbar -->
    <div id="navbar-container"></div>
    <script>
        // Cargar la navbar y luego agregar el controlador de eventos al enlace de perfil
        fetch('./homenavbarLayout.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('navbar-container').innerHTML = data;
    
            // Después de que la navbar se haya cargado e inyectado en el DOM, agrega el controlador de eventos
            const profileLink = document.getElementById('profileLink');
            if (profileLink) {
                profileLink.addEventListener('click', (event) => {
                    event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
    
                    // Comprobar si hay un usuario en sessionStorage
                    const user = sessionStorage.getItem('user');
    
                    // Si hay un usuario, navega a userProfile.html, si no, a userLogin.html
                    if (user) {
                        window.location.href = './profile';
                    } else {
                        window.location.href = './login';
                    }
                });
            }
        })
        .catch(error => console.error('Error al cargar la navbar:', error));
        </script>

    
<div class="container">
    <!-- Fila del grid -->
    <div class="row">
        <!-- Primera columna (contenido) -->
        <div class="col-lg-6 content gradient-text">
            <h1>How to Create an Effective Resume</h1>
            <p>A well-prepared Curriculum Vitae (CV) is crucial for making an excellent first impression on employers. Here we show you how to do it correctly:</p>
            <br>
            <h2>Personal and Contact Information</h2>
            <p>Include your name, email address, and phone number.</p>
            <h2>Professional Profile</h2>
            <p>A brief introduction about your objectives and qualifications.</p>
            <h2>Work Experience</h2>
            <p>List your previous jobs, responsibilities, and achievements.</p>
            <h2>Education</h2>
            <p>Detail your studies and any other relevant training.</p>
            <h2>Skills</h2>
            <p>List the skills that make you ideal for the position.</p>
            <h2>Interests</h2>
            <p>(Optional) Share your hobbies if they are relevant to the job.</p>
            <h2>References</h2>
            <p>Available upon request.</p>

        </div>

        <!-- Segunda columna (imagen) -->
        <div class="col-lg-6">
            <h1 style="text-align: center;">Example of a Cv</h1>
            <br>
            <img src="./assets/appImages/cv examples.svg" alt="Cv de ejemplo" class="img-fluid">
        </div>
    </div>
</div>


    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>

<footer>
    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./footerLayout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>

</html>
