<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/userprofile.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
    </style>
</head>

<body>

    <!-- Contenedor donde se cargará navbar -->
    <div id="navbar-container"></div>
<script>
    // Cargar la navbar y luego agregar el controlador de eventos al enlace de perfil
    fetch('./homenavbarLayout.html')
    .then(response => response.text())
    .then(data => {
        document.getElementById('navbar-container').innerHTML = data;

        // Después de que la navbar se haya cargado e inyectado en el DOM, agrega el controlador de eventos
        const profileLink = document.getElementById('profileLink');
        if (profileLink) {
            profileLink.addEventListener('click', (event) => {
                event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

                // Comprobar si hay un usuario en sessionStorage
                const user = sessionStorage.getItem('user');

                // Si hay un usuario, navega a userProfile.html, si no, a userLogin.html
                if (user) {
                    window.location.href = './profile';
                } else {
                    window.location.href = './login';
                }
            });
        }
    })
    .catch(error => console.error('Error al cargar la navbar:', error));
    </script>

    <h1>Your Profile</h1>

    <div class="container mt-5">
        <form id="userProfileForm">
            <div class="row">
                <!-- Columna para información del usuario y avatar -->
                <div class="col-md-4">
                    <img id="userAvatar" alt="User Avatar" class="img-fluid rounded-circle mb-3">
                    <div class="form-group">
                        <label for="avatar">Choose an Avatar</label>
                        <select class="form-control" id="avatar" name="avatar">
                            <option value="">None</option>
                            <option value="./assets/avatars/avatarAbstract.png">Abstract</option>
                            <option value="./assets/avatars/avatarAnimal.png">Animal</option>
                            <option value="./assets/avatars/avatarGeometric.png">Geometric</option>
                            <option value="./assets/avatars/avatarLandScape.png">Landscape</option>
                            <option value="./assets/avatars/avatarPerson.png">Person</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control mb-2" id="username" name="username" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control mb-2" id="firstName" name="firstName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control mb-2" id="lastName" name="lastName" readonly>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control mb-2" id="location" name="location">
                    </div>
                    <div class="form-group">
                        <label for="contactNumber">Contact Number</label>
                        <input type="text" class="form-control mb-2" id="contactNumber" name="contactNumber">
                    </div>
                </div>
    
                <!-- Columna para habilidades y educación -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="skills">Skills</label>
                        <textarea class="form-control" id="skills" name="skills" rows="3"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="education">Education</label>
                        <textarea class="form-control" id="education" name="education" rows="3"></textarea>
                    </div>
                    
                </div>
    
                <!-- Columna para experiencia laboral -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="workExperience">Work Experience</label>
                        <textarea class="form-control" id="workExperience" name="workExperience" rows="3"></textarea>
                    </div>
                </div>
                
                <div class="text-center col-md-12" style=" color:steelblue; text-decoration:underline; font-size: 30px;">
                    <a href="./jobsApplied">Applied Jobs</a>
                </div>
                
            </div>
    
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" id="resumeContainer">
                        <br>
                        <label for="cvUpload">Your CV</label>
                        <input type="file" class="form-control-file" id="cvUpload" name="cv">
                    </div>
                </div>
            </div>
            

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>


        </form>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="/controllers/userdisplay.js"></script>
<script src="/controllers/userHandler.js"></script>
<script src="/controllers/updateUser.js"></script>

</body>

<footer>
    <div id="cargando" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.789); color: white !important; display: flex; justify-content: center; align-items: center; z-index: 20;">
        <h1>Cargando ...</h1>
    </div>

    <script>
        window.onload = function(){
            setTimeout(() => {
                document.getElementById('cargando').style.display = 'none';
            }, 1000);
        }
    </script>

    <div id="footer-container"></div>
    <script>
        // Cargar tu footer al final del documento
        fetch('./footerLayout.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
    </script>
</footer>

</html>
