<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LayoutNavbar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/navbarStyle.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Playfair+Display:wght@800&display=swap');
    </style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="./home.html"><img src="/app/views/assets/appImages/logo.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto" style="flex-direction:row; justify-content: center; flex-grow: 1;padding-right: 80px;">
      <li class="nav-item active">
        <a class="nav-link" href="./tutorial.html ">How to make your CV <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./jobListing.html">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./userProfile.html">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
